* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.technology {
    background: linear-gradient(rgb(1, 1, 13), rgb(21, 1, 19));
    background: url("Outer Space.jfif");
    background-size: cover;
    min-height: 100vh;
    overflow-y: scroll;
}

.l_vehicles {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    /* grid-column:auto; */
    gap: 10px;
    padding: 100px 20px 20px 5%;
}

.vehicle_image {
    width: 300px;
    height: 400px;
}

.vehicle_img {
    position: absolute;
    top: 30%;
    right: 0%;
}

.vehicle_info p,
h3 {
    margin: 20px;
}

.vehicle_info h3 {
    font-size: 40px;
}

.no {
    background-color: transparent;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
    border: 2px solid grey;
    cursor: pointer;
}

span {
    color: white;
    font-family: cursive;
    font-weight: bold;
}

.launch {
    font-size: 30px;
    padding: 60px 0px 20px 120px;
}

@media (max-width:750px) {
    .l_vehicles {
        display: flex;
        flex-direction: column;
        padding: 10px 100px;
    }

    .vehicle_img {
        position: relative;
        left: 20px;
    }

    .vehicle_no {
        display: flex;
    }
}